@media(min-width: 768px) {
	.container {
		padding: 0 4rem;
	}
	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem 0;
	}
	.top_bar {
		width: 20%;
	}
	.icon_bar {
		display: none;
	}
	.nav {
		width: 50%;
	}
	.nav_menu {
		position: relative;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding-top: 0;
		height: auto;
		border-top: none;
		background-color: var(--bg-dark);
		box-shadow: none;
		transform: translateY(0);
	}
	.nav_item {
		margin: 0;
		padding: 0;
		padding-left: 1.5rem;
	}
	.nav_link {
		padding: 0;
		padding-bottom: 5px;
	}
	.nav_link:hover,
	.nav_link:focus {
		color: var(--font-light);
		border-bottom: 3px solid var(--primary-color);
		cursor: pointer;
	}
	.social_link:hover,
	.social_link:focus {
		color: var(--primary-color);
		cursor: pointer;
	}
	.projects_title {
		padding-bottom: 4rem;
	}
	.project_bar i:hover {
		background-color: var(--primary-color);
		color: var(--light-dark);
		cursor: pointer;
	}
}
